body {
    font-family: 'Arial', sans-serif;  
    font-size: 16px;  
    color: #333;  
}

.green-button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.green-button:hover {
    background-color: darkgreen;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style for the books info container */
.books-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

/* Header Row (Title, Author, Publisher) with gray background */
.books-info .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7c7c7c;
    padding: 15px;
    border-radius: 8px;
}

.books-info .header-row p {
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 10px;
}

/* Style for each book entry */
.books-info .book-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px; 
    position: relative;
}

/* Each column inside a book item (Title, Author, Publisher) */
.books-info .book-item p, table {
    flex: 1;
    text-align: justify;
    margin: 0;
    padding: 10px;

}

.red-button {
   background-color: red;
   color: white;
   border: none;
   width: 6%;
   border-radius: 0px; 
   font-size: 1rem; 
   cursor: pointer;
   position: absolute;
   top: 0px;
   right: 0px;
}

.red-button:hover {
   background-color: darkred;
}