body {
    font-family: 'Arial', sans-serif;  
    font-size: 1.2rem;  
    color: #000000;  
}

.green-button {
    background-color: rgb(0, 133, 0);
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 1.7rem;
    cursor: pointer;
}

.green-button:hover {
    background-color: rgb(0, 157, 0);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Header Row (Title, Author, Publisher) with gray background */
.books-info .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dddddd;
    font-size: 1.4rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);

}

.books-info .header-row p {
    flex: 1;
    text-align: center;
    margin: 5px;
    padding: 3px;
}

/* Style for each book entry */
.books-info .book-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 1px; 
    position: relative;
}

/* Each row inside a book item (Title, Author, Publisher) */
.books-info .book-item p, table {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-top: 0;
    padding: 10px;  
}

.book-item > p {
    border: 1px solid #dddddd;
}

.red-button {
   background-color: rgb(214, 0, 0);
   color: white;
   border: none;
   width: 6%;
   border-radius: 0px; 
   font-size: 1rem; 
   cursor: pointer;
   position: absolute;
   top: 0px;
   right: 0px;
}

.red-button:hover {
   background-color: red;
}
